@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Credmark";
  src: url("/fonts/Credmark-Regular.otf") format("truetype");
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, a {
  @apply text-credmarkpurple;
  font-family: 'Roboto';
}

em {
  font-family: 'Roboto';
}

p {
  font-size: 18px;
}

h1{
  font-family: 'Roboto';
  font-weight: 900;
}

/** Sanity **/ 

.sanity-block ul li{
  @apply list-disc;
  @apply list-outside;
  @apply text-lg;
  @apply ml-6;
  @apply py-2.5;
}

.sanity-block ol li{
  @apply list-decimal;
  @apply list-outside;
  @apply text-lg;
  @apply ml-6;
  @apply py-2.5;
}

.sanity-block ol {
  padding-left: 15px;
  @apply py-5;
}

.sanity-block ul {
  padding-left: 15px;
}

.sanity-block p {
  @apply text-lg;
  @apply font-light;
  @apply leading-8;
  padding-top: 13px;
}

.sanity-block img {
  @apply py-5;
  @apply mx-auto;
  @apply block;
}

.sanity-block h1 {
  font-family: 'Credmark';
  @apply text-credmarkpurple;
  @apply text-2xl;
  @apply font-light;
  @apply pt-10;
  @apply pb-2;
}

.sanity-block h2 {
  font-family: 'Credmark';
  @apply text-credmarkpurple;
  @apply text-2xl;
  @apply font-light;
  @apply pt-10;
  @apply pb-2;
}

.sanity-block h3 {
  font-family: 'Credmark';
  @apply text-credmarkpurple;
  @apply text-2xl;
  @apply font-light;
  @apply pt-10;
  @apply pb-2;
}

.sanity-block h4 {
  font-family: 'Credmark';
  @apply text-credmarkpurple;
  @apply text-2xl;
  @apply font-light;
  @apply pt-10;
  @apply pb-2;
}

.sanity-block a {
  @apply text-black;
  @apply text-lg;
  @apply font-light;
  @apply leading-8;
  @apply underline;
}

.sanity-block strong {
  @apply font-medium;
}

.border-box ul li{
  @apply list-disc;
  @apply list-outside;
  @apply text-lg;
  @apply ml-6;
  @apply py-2.5;
}

.border-box ol li{
  @apply list-decimal;
  @apply list-outside;
  @apply text-lg;
  @apply ml-6;
  @apply py-2.5;
}

.border-box ol {
  padding-left: 15px;
  @apply py-5;
}

.border-box ul {
  padding-left: 15px;
}

.border-box p {
  @apply text-lg;
  @apply font-light;
  @apply leading-8;
  padding-top: 13px;
}

.border-box img {
  @apply py-5;
}

.border-box h1 {
  font-family: 'Credmark';
  @apply text-credmarkpurple;
  @apply text-2xl;
  @apply font-light;
  @apply pt-10;
  @apply pb-2;
}

.border-box h2 {
  font-family: 'Credmark';
  @apply text-credmarkpurple;
  @apply text-2xl;
  @apply font-light;
  @apply pt-10;
  @apply pb-2;
}

.border-box h3 {
  font-family: 'Credmark';
  @apply text-credmarkpurple;
  @apply text-2xl;
  @apply font-light;
  @apply pt-10;
  @apply pb-2;
}

.border-box h4 {
  font-family: 'Credmark';
  @apply text-credmarkpurple;
  @apply text-2xl;
  @apply font-light;
  @apply pt-10;
  @apply pb-2;
}

.border-box a {
  @apply text-black;
  @apply text-lg;
  @apply font-light;
  @apply leading-8;
  @apply underline;
}

.border-box strong {
  @apply font-medium;
}

.box-shadow {
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
margin-left: -150px;
}

.riskTerminalTool {
  margin-left: 150px;
}

.homepage-bg {
  background-color: #E5E5E5;
}

.advisorBg {
  background-color: #F4F4F6;
}

.credmark {
  font-family: 'Credmark';
}

.roboto {
  font-family: 'Roboto';
}

#blogbutton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 50px;
  padding-top: 40px;
}

#hackathon{
  padding-top: 35px;
  right: 0;
  bottom: 0;
}

#whitepaper {
  width: auto;
  display: flex;
  width: 1050px;
}

.swirls {
  position:relative;
}

/* Gradient backgrounds */ 

.cta-bg {
  background: linear-gradient(90deg, #E93173 0%, #238DCE 100%);
}

.header-bg {
  background: radial-gradient(100% 150.03% at 0% 0%, rgba(0, 214, 150, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #3B0065;;
}

.whatIsBg {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(218, 193, 232, 0.5), rgba(243, 222, 255, 0.5), rgba(248, 186, 209, 0.5), rgba(255, 255, 255, 0.5))
}

.riskPlatform {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(218, 193, 232, 0.5) 10.94%, rgba(255, 255, 255, 0.5) 24.48%, rgba(243, 222, 255, 0.5) 31.77%, rgba(248, 186, 209, 0.5) 45.31%, rgba(255, 193, 219, 0.125) 62.5%, rgba(255, 227, 239, 0.330645) 70.83%, rgba(255, 255, 255, 0.5) 79.69%);

}

.riskLibrary {
  background: radial-gradient(100% 360% at 100% 100%, #FFFFFF 0%, #005488 44.79%, #001725 100%);
  border-radius: 20px;
}

.riskEncyclopedia{
  background: radial-gradient(100% 360% at 100% 100%, #FDEDF3 0%, #E21569 18.75%, #005488 55.73%, #40085D 100%);
  border-radius: 20px;
}

.roadmap {
  background: radial-gradient(160.49% 96.31% at 50% 0%, rgba(0, 195, 137, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #3B0065;
}

.innerRoadmap {
  background: linear-gradient(180deg, #00C389 0.01%, #3B0065 100%);
}

.faqBackground{
  background: url("/assets/purple-swirl.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.app-image {
  margin-top: -100px;
  margin-bottom: -90px;
}

.drop-shadow-xl {
  box-shadow: 5px 10px hsla(279, 27%, 46%, 0.301)
}

.job-image{
  margin-top: -150px;
}

.riskLibrary {
  background: radial-gradient(100% 360% at 100% 100%, #FFFFFF 0%, #005488 44.79%, #001725 100%);
}

#blogPage{
  border-radius: 15px;
}

svg.twitter:hover{
  fill: #3b0065;
}

svg.linkedin:hover{
  fill: #3b0065;
}

mono
* {
  box-sizing: border-box;
}


/* Team Page */

.bio-photo {
  border-radius:50%;
  display: block;
  margin: auto;
  width: 100% !important;
  height: auto;
  max-width: 240px;
  max-height: 240px;
}

.img-hover {
  position: relative;
  width: 100%;
  max-width: 240px;
  max-height: 240px;
  margin: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #54366388;
  border-radius:50%;
}

.overlayAdvisors {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #25A67F;
  border-radius:50%;
}


.img-hover:hover .overlay {
  opacity: 0.2;
}

.img-hover:hover .overlayAdvisors {
  opacity: 0.7;
}

.socialButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/* Blog */

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

blockquote {
  padding-left: 15px;
  padding-right: 15px;
}

ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
}

.mediaBackground{
  background: url("/assets/media.png");
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}

.bio-photo {
  border-radius:50%;
  display: block;
  width: var(--width);
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: var(--width);
  opacity: 0;
  transition: .5s ease;
  border-radius:50%;
}

.light-pink-bg{
  background: rgba(253, 237, 243, 0.5);
}

.img-hover:hover .overlay {
  opacity: 1;
}

.hover-text {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
}

@media (min-width: 1450px){
  .riskEncyclopedia {
    background: url(/assets/purple-bg.jpg);
    background-size: cover;
    border-radius: 20px;
  }
  .job-image{
    margin-top: auto;
  }
}

@media screen and (max-width: 800px) {
  .app-image {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 480px) {
  .app-image {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .riskEncyclopedia {
    background: url(/assets/purple-bg.jpg);
    background-size: cover;
    background-position: center top;
    border-radius: 20px;
  }
  .job-image{
    margin-top: auto;
  }
}

@media screen and (max-width: 770px) {
  .job-image{
    margin-top: auto;
  }
}


.canvasContainer {
  height: 100vh;
  width: 100%;
  max-height: 800px;
  min-height: 600px;
  overflow: hidden;
  position: relative;
}

.dots {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: 800px;
  min-height: 600px;
  min-width: 1000px;
  background-color: #3b0065;
}

#changeText {
  color: #00C389;
}

.text {
  position: absolute;
  top: 160px;
  left: 84px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: white;
  text-shadow: 0px 0px 8px rgba(59, 0, 101, 0.5);
}

.borderstuff {
  width: 400px;
  height: 400px;
  margin: 80px;
  padding: 80px;
  border: 1px solid black;
  border-width: 0 1px 1px 0;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .canvasContainer {
    max-height: 600px;
  }

  .dots {
    max-height: 600px;
  }

  .text {
    left: 40px;
    top: 80px;
    font-size: 48px;
  }
}

@media only screen and (max-width: 340px) {

  .text {
    left: 20px;
    top: 80px;
    font-size: 40px;
  }
}

.communityBg {
  background: url(../public/assets/world-map.png), radial-gradient(50% 107.39% at 50% 50%, rgba(0, 214, 150, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #3B0065;
  background-size: cover;
  background-blend-mode: color-dodge, normal, normal;
}

.footerBg {
  background: radial-gradient(100% 267.48% at 0% 0%, rgba(0, 214, 150, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #3B0065;
}